*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Instalando fontes */
@font-face {
    font-family: "moderniz";
    src: url(../fonts/Moderniz.otf);
}
@font-face {
    font-family: "vito wide";
    src: url(../fonts/Vito\ Wide\ Bold.ttf);
}
@font-face {
    font-family: "vito extended";
    src: url(../fonts/Vito-ExtendedRegular.woff.ttf);
}

/* HEADER */
header{
    width: 100%;
}
#container_header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img{
     scale: 0.8;
    }

    nav{
        display: flex;
    }
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        gap: 50px;
        font-family: "vito extended" ;
        
        
        li{
            font-size: clamp(12px,2vw,16px);
            transition:  300ms;
            cursor: pointer;
        }

        li:hover{
            scale: 1.1;
        }
    }
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:absolute;
    
    background: #333;
    width: 100%;
    font-family: "vito extended" ;
    color: white;
    padding: 30px;
    

    ul{
        li{
            padding: 10px;
            cursor: pointer;
            transition:  300ms;
        }
        list-style-type: none;

        li:hover{
            
            scale: 1.1;
        }
        
    }
}

#contatos_footer{
    div{
        padding: 10px;
        h1{
            font-family: "vito wide";
            font-size: 16px;
        }
        p{
            color: #FFF;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}

#endereco_footer{
    p{
        width: 339px;
        font-family: Poppins;
        
    }
}

/* main */

#banner_welcome{
    background-image: url(../images/engenharia-1\ 1.svg);
    height: 685px;

 
    h1{
        width: 1153px;
        color: #FFF;
        font-family: "MODERNIZ";
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 150%; /* 60px */
        
        
    }
    h2{
        width: 1153px;
        color: #FFF;
        font-family: "Vito Extended";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 48px */
    }
    button{
        margin: 5px;
        display: flex;
        align-items: center;
        font-family: "MODERNIZ";
        background: #BB8931;
        color: white;
        border: none;
        padding: 10px;
        font-size: 23px;
        transition: 300ms;
        cursor: pointer;
    }
    button:hover{
        background: #805C1D;
    }
    #seta_contato{
        font-weight: 800;
        scale:1.3 ;
        padding: 0 10px;
    }

    #container_conteudo_banner_welcome{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }


}

/* sobre nos */
#sobre_nos{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
    div{
        width: 1153px;
        h1{
            font-family: "Vito wide";
            text-align: start;

        }
        p{
            font-family: "Vito extended";
        }
        
    }
}

/* projetos destaque */
#projetos_destaque{
    display: flex;
    justify-content: center;
}

#container_projetos_destaque{
    width: 1153px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    
}
#titulo_projetos_destaque{
    margin-top: 30px;
    font-family: "vito wide";
}
.projetos_destaque_containers{
  
   display: flex;
   div{
    img{
        width: 350px;
    }
    margin: 10px;
   }
   h1{
    font-family: "Vito extended";
    font-weight: 400;
    font-size: 16px;
   }
}

#btn_todos_projetos{
    font-family: "vito extended";
    display: flex;
    align-items: center;
    padding: 10px;
    background: none;
    font-weight: 400;
    margin-top: 15px;
    transition: 300ms;
    border: 1.5px solid black;
    margin: 10px;
}

#btn_todos_projetos:hover{
    background: #333;
    color: white;
    cursor: pointer;
    border: 1.5px solid white;
}

.projeto_destaque_projetos{
    transition: 300ms;
    
}
.projeto_destaque_projetos:hover{
    scale: 1.050;
    cursor: pointer;
    
}

/* alguns clientes */

#alguns_clientes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 186px;
    background: #333333;

}
.slider{
    width: 1153px;
   h1{
    margin-bottom: 10px;
    font-family: "vito wide";
    color: white;
   }
}

.slide-track{
    display: flex;
    flex-direction: row;
    
}
.slide{
    margin: 5px;
}

/* servicos */
.servicos{
    margin: 0 auto;
    width: 1153px;
    div{

        display: flex;
        justify-content: center;
    }
    h1{
        margin-top: 5px;
        font-family: "vito wide";
        color: #333;
    }
}
.box_servico{
    width: 360px;
    margin: 17px;
  
    
    img{
        width: 360px;
        height: 220px;
        object-fit: cover;
        
    }
    
    font-family: "vito extended";
    

    h2{
        margin: 5px 0;
        font-size: 22px;
       
    }
    p{
        font-weight: 200;
    }
    ul{
        margin: 15px;
    }

   
}

/* Missão, visão e valores */

.mvv{
    
    background: #333;

    padding: 10px 0;

  
    
    

    div{
        color: white;
        display: flex;
        justify-content: center;
        
    }
    h1{
        
        color: white;
        width: 1153px;
        margin: 0 auto;
        z-index: 9999;
        margin-top: 30px;
        font-family: "vito wide";
        color: white;
    }
    h2{
        font-family: "vito wide";
        font-weight: 700;
    }
}

/* contato */

.contato{
    display: flex;
    justify-content: center;
    background: #BB8931;
    padding: 30px;
    
    label{
        color: white;
        font-family: "Vito Extended";
    }
    
    h1{
        color: white;
        font-family: "Vito Wide";
    }

    span{
        color: red;
    }
}
.contato_form{
    width: 1153px;
    
}
.input_email_and_name{
    display: flex;
    flex-direction: row;
    
    div{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.input_message{
    display: flex;
    flex-direction: column;
}
.input_contato{
    border: none;
    outline: none;
    height: 39px;
    margin: 2px;
    padding: 5px;
}

.btn_enviar_contato{
    cursor: pointer;
    margin-top: 5px;
    width: 340.831px;
    height: 40px;
    background: #333;
    border: none;
    outline: none;
    color: white;
    font-family: "Vito Wide";
    font-size: 18px;
    padding: 5px;

}